bin
lib
lib64
secret.json
share
include
src/testing.ipynb
src/__pycache__
tests/__pycache__
tests/.pytest_cache
**/.terraform/*
*__pycache__
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.tfplan
.terraformrc
terraform.rc
test.py
log.txt
